<mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">About Me</h5>
    </mat-card-header>
    <mat-card-content>
        <p>Hi! I am a skilled Computer Engineer with expertise in both backend and frontend software development with <b>+12 years of experience.</b>
            <br>
            <br>
            In addition to my technical abilities, I possess strong research, analysis, and problem-solving skills, and I'm constantly eager to learn and apply new technologies to improve project outcomes.
            <br>
            <br>
            My commitment to integrity, responsibility, and adaptability is unwavering, and I pride myself on being a highly devoted and reliable team member. I look forward to the opportunity to contribute my skills and experience to new challenges and projects.
            <br>
            <br>
            <b>I'm looking for a Full Stack or Backend position with Java, Javascript or Php.</b> 
        </p>
    </mat-card-content>
</mat-card>