<mat-card class="mb-25 tagus-card">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">{{title}}</h5>
    </mat-card-header>
    <mat-card-content>
        <!-- <div echarts [options]="options" class="demo-chart" 
            (chartInit)="onChartEvent($event, 'chartInit')" 
            (chartClick)="onChartEvent($event, 'chartClick')" 
            (chartDblClick)="onChartEvent($event, 'chartDblClick')" 
            (chartMouseDown)="onChartEvent($event, 'chartMouseDown')" 
            (chartMouseUp)="onChartEvent($event, 'chartMouseUp')" 
            (chartMouseOver)="onChartEvent($event, 'chartMouseOver')" 
            (chartMouseOut)="onChartEvent($event, 'chartMouseOut')" 
            (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')" 
            (chartContextMenu)="onChartEvent($event, 'chartContextMenu')" 
            (chartDataZoom)="onChartEvent($event, 'chartDataZoom')">
        </div> -->
        <highcharts-chart
        id="container" 
        [Highcharts]="Highcharts"
        [constructorType]="chartConstructor"
        [options]="chartOptions"
         style="width: 100%; height: 100%; display: block;">
    </highcharts-chart>
    </mat-card-content>
</mat-card>

