<mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">{{title}}</h5>
    </mat-card-header>
    <mat-card-content>
        <ul class="list ps-0 mb-0">
            <li>
                <span class="fw-semibold d-inline-block">{{fullNameTitle}}:</span>
                <span class="gray-color">Engels Abdel Medina Colmenares</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{mobileTitle}}:</span>
                <span class="gray-color">(+58) 424 7584723</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{emailTitle}}:</span>
                <span class="gray-color"><a href="mailto:engelsabdel@gmail.com" class="tagus">engelsabdel@gmail.com</a></span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{locationTitle}}:</span>
                <span class="gray-color">{{location}}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{profesionTitle}}:</span>
                <span class="gray-color">{{profesion}}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{experienceTitle}}:</span>
                <span class="gray-color">{{getExperienceTime()}}</span>
            </li>
            <li>
                <span class="fw-semibold d-inline-block">{{languagesTitle}}:</span>
                <span class="gray-color">{{languages}}</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>